.profileClass form {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
  border-radius: 15px;
  margin: 50px;
  display: block;
  text-align: left;
}

.profileClass-container {
  background-color: #ff4b2b;
  max-width: 100%;
  display: flex;
  align-items: flex-start;
}

.uploadedImage {
  width: 100%;
  height: auto;
}
